PORT=3000
TICKETMASTER_API_KEY=
JWT_SECRET=desafio-elite-dev-jwt-local
TICKET_QR_SECRET=desafio-elite-dev-qr-local

DATABASE_URL=postgresql://desafio:desafio@localhost:5432/desafio_elite
POSTGRES_DB=desafio_elite
POSTGRES_USER=desafio
POSTGRES_PASSWORD=desafio
POSTGRES_PORT=5432
