PORT=3000
TICKETMASTER_API_KEY=your_ticketmaster_api_key_here
JWT_SECRET=change-this-jwt-secret
TICKET_QR_SECRET=change-this-ticket-qr-secret

DATABASE_URL=postgresql://desafio:desafio@localhost:5432/desafio_elite
POSTGRES_DB=desafio_elite
POSTGRES_USER=desafio
POSTGRES_PASSWORD=desafio
POSTGRES_PORT=5432
